# Classic
.env 
.env.local

venv/
__pycache__/
node_modules/
dist/
build/

# Removing Logs and Results
extraction-pipeline/__pycache__/
extraction-pipeline/results.json
extraction-pipeline/logs
